<div class="project-profile-information-wrapper">
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-9 border-right">
                    <div class="pull-left ml10">
                        <img src="assets/img/project profile/logo.png">
                        <a class="text-primary">Change Logo</a>
                    </div>
                    <div class="pull-left address">
                        <label>Address</label>
                        <span>1796 Prospector Avenue Park City, Utah 84605</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 text-center section border-right">
                    <div class="type-of-project">
                        <label>Type of Project</label>
                        <span>Inceptos Sit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-md-5 text-center section border-right">
                    <div class="square-footage">
                        <label>Square Footage</label>
                        <span>12000</span>
                        <label>Goal Cost per SQFT</label>
                        <span>$123</span>
                    </div>
                </div>
                <div class="col-md-7 text-center section">
                    <div class="start-date-edit">
                        <div class="pull-left">
                            <label>Start Date</label>
                            <span>Aug 23, 2016</span>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-sm">Edit</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
