<div class="tab-content">
    <div class="documentation-wrapper">
        <div class="wall">
            <h5 class="pull-left">Corporation & Licensing</h5>
            <div class="pull-right">
                <button class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i> Add
                </button>
                <div uib-dropdown dropdown-append-to-body class="dropdown pull-right">
                    <a href="javascript:void(0)" uib-dropdown-toggle class="text-muted dropdown-toggle">
                        <i class="fa fa-gear"></i>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <hr class="mt10"/>
            <div class="row">
                <div class="col-md-2 form-group">
                    <label>Company Name</label>
                    <span>Company Name Goes Here</span>
                </div>
                <div class="col-md-2 form-group">
                    <label>Federal EIN #</label>
                    <span>12-3456789</span>
                </div>
                <div class="col-md-2 form-group">
                    <label>Company Type</label>
                    <span>Partnership</span>
                </div>
                <div class="col-md-2 form-group">
                    <label>Year Founded</label>
                    <span>2002</span>
                </div>
                <div class="col-md-2 form-group">
                    <label>State of Incorporation</label>
                    <span>California</span>
                </div>
                <div class="col-md-2 form-group">
                    <label>Articles of Incorporation Document</label>
                    <span class="text-primary">2 attachment</span><br>
                    <span class="text-primary text-underline">upload</span>
                </div>
            </div>
        </div>

        <div class="wall">
            <h5 class="pull-left">Insurance Information</h5>
            <div class="pull-right">
                <button class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i> Add
                </button>
                <div uib-dropdown dropdown-append-to-body class="dropdown pull-right">
                    <a href="javascript:void(0)" uib-dropdown-toggle class="text-muted dropdown-toggle">
                        <i class="fa fa-gear"></i>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <hr class="mt10"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Company Name</label>
                            <span>Company Name Goes Here</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Insurance Agent</label>
                            <span class="text-primary">Bob Jones</span>
                            <div class="contact">
                                <span>
                                    <i class="fa fa-envelope"></i>|
                                    <i class="fa fa-comments"></i>|
                                    <i class="fa fa-phone"></i>801 556 5683
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Policy #</label>
                            <span>987654-90</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Issue Date</label>
                            <span>Aug 2014</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Expiration Date</label>
                            <span>Aug 2016</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Type</label>
                            <span>Lorem lpsum</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Insured</label>
                            <span>Dolor SitAmet</span><br>
                            <span class="text-primary">
                                <i class="fa fa-plus"></i> Add
                            </span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Policy Documents</label>
                            <span class="text-primary">2 attachment</span><br>
                            <span class="text-primary text-underline">upload</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wall">
            <h5 class="pull-left">Licencing Information</h5>
            <div class="pull-right">
                <button class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i> Add
                </button>
                <div uib-dropdown dropdown-append-to-body class="dropdown pull-right">
                    <a href="javascript:void(0)" uib-dropdown-toggle class="text-muted dropdown-toggle">
                        <i class="fa fa-gear"></i>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <hr class="mt10"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Licence</label>
                            <span>Loremlpsum</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Type of Licence</label>
                            <span>Dolor Sitament</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>State of Licence</label>
                            <span>Utah</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Licence #</label>
                            <span>12345600</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Issue Date</label>
                            <span>Aug 2014</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Expiration Date</label>
                            <span>Aug 2016</span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Licencing Document</label>
                            <span class="text-primary">2 attachment</span><br>
                            <span class="text-primary text-underline">upload</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
