.auth-wrapper {
  background-color: #2a2d33;
  height: 100%; }
  .auth-wrapper .top div {
    font-size: 20px;
    color: white; }
  .auth-wrapper .auth-form {
    width: 500px;
    border-radius: 5px;
    margin: 20px auto; }
    .auth-wrapper .auth-form .heading {
      font-size: 20px;
      color: #44474b; }
  .auth-wrapper .btn {
    width: 100%; }
