.company-profile-top-wrapper h2 {
  margin-top: 15px; }

.company-profile-wrapper .text-regular {
  font-family: "AvenirNextLTPro-Regular"; }

.company-profile-wrapper .text-bold {
  font-family: "AvenirNextLTPro-Demi"; }

.company-profile-wrapper .text-medium {
  font-family: "AvenirNextLTPro-Medium"; }

.company-profile-wrapper .nav-tabs {
  border: 1px solid #eee; }
  .company-profile-wrapper .nav-tabs li a {
    color: #8b8b8b;
    font-size: 13px;
    min-width: 110px;
    text-align: center;
    padding: 15px 30px;
    border-top: 0; }
  .company-profile-wrapper .nav-tabs li.active a {
    border: 1px solid #eee;
    border-top: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0; }
  .company-profile-wrapper .nav-tabs li:first-child a {
    border-left: 0; }

.company-profile-wrapper .tab-content {
  background-color: #fff;
  padding: 30px 20px 20px;
  border: 1px solid #eee;
  border-top: 0; }
