.auth-wrapper {
    background-color: #2a2d33;
    height: 100%;
    .top {
        div {
            font-size: 20px;
            color: white;
        }
    }
    .auth-form {
        width: 500px;
        border-radius: 5px;
        margin: 20px auto;

        .heading {
            font-size: 20px;
            color: #44474b;
        }

    }
    .btn {
        width: 100%;
    }
}