// Purchase Order New

.pon-page-wrapper {

    label {
        color: #4a4a4a;
    }

    padding-top: 0;
    margin-bottom: 0;

    .pon-page-info {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 0 4px #d8d8d8;
    }

    .closeBox {
        background: #000;
        width: 100px;
        padding: 110px 0;
        text-align: center;
    }

    .pon-page-title {
        margin-top: 60px;
        width: calc(100% - 100px);

        h2 {
            font-family: AvenirNextLTPro-Regular;
            font-size: 27px;
            margin-top: 0px;
        }

        input {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #ccc;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;
            width: 100%;
            font-size: 17px;
        }

        .project-info {
            h3 {
                font-family: "AvenirNextLTPro-Demi";
                font-size: 16px;
                margin-bottom: 0;
                margin-top: 20px;
            }

            span {
                font-family: "AvenirNextLTPro-Demi";
                font-size: 12px;
            }
        }
    }

    .po-info {
        color: #4a4a4a;

        .row {
            span:first-child, div:first-child {
                text-transform: uppercase;
                font-size: 10px;
                font-family: AvenirNextLTPro-Demi;
            }

            span:last-child {
                font-family: AvenirNextLTPro-Regular;
            }
        }

        label {
            color: #fff;
        }
    }

    .first-section {
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 3px;
        margin-top: 30px;
        padding: 20px;

        .date-field-wrapper {
            border: 1px solid #eee;
        }

        textarea {
            background-color: #f9f9f9;

            &:hover {
                border: 1px solid #eee;
            }

            &:focus, &:active {
                background-color: #fff;
                border: 1px solid #eee;
            }
        }


    }

    .section {
        padding: 20px;
        border: 1px solid #eee;
    }

    h5 {
        margin: 20px 0;
        font-size: 13px;

        &:first-child {
            margin-top: 0;
        }
    }

    input {
        height: 51px;
        padding: 15px;
        background-color: #f9f9f9;

        &:focus {
            background-color: #fff;
            border-color: #d7d7d7;
        }
    }

    .textable {
        line-height: 30px;
        margin-top: 30px;
    }

    h3 {
        font-family: AvenirNextLTPro-Medium;
        font-size: 17px;
        color: #4a4a4a;
        margin: 30px 0 20px;
    }

    .second-section {
        border: 1px solid #eee;
        background-color: #fff;
        border-radius: 3px;

        .paragraph {
            padding: 20px;

            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            h5 {
                color: #4a4a4a;
                font-weight: 700;
                font-size: 13px;
                margin-bottom: 5px;
            }

            span.value {
                font-family: AvenirNextLTPro-Regular;
                font-size: 14px;
                color: #4a4a4a;
            }

            .section {
                padding-bottom: 0;
            }
        }
    }

}

// Purchase Order In Process

.poi-page-wrapper {

    label {
        color: #4a4a4a;
    }

    padding-top: 0;
    margin-bottom: 0;

    .poi-page-info {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 0 4px #d8d8d8;
    }

    .closeBox {
        background: #000;
        width: 100px;
        padding: 110px 0;
        text-align: center;
    }

    .poi-page-title {
        margin-top: 60px;
        width: calc(100% - 100px);

        h2 {
            font-family: AvenirNextLTPro-Regular;
            font-size: 27px;
            margin-top: 0px;
        }

        input {
            background: transparent;
            border: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;
            width: 100%;
            font-family: AvenirNextLTPro-Regular;
            font-size: 17px;
        }

        .project-info {
            h3 {
                font-family: "AvenirNextLTPro-Demi";
                font-size: 14px;
                color: #3aabd5;
                margin-bottom: 0;
                margin-top: 20px;
            }

            span {
                font-family: "AvenirNextLTPro-Demi";
                font-size: 11px;
            }
        }
    }

    .po-info {
        color: #4a4a4a;

        .row {
            span:first-child, div:first-child {
                text-transform: uppercase;
                font-size: 10px;
                font-family: AvenirNextLTPro-Demi;
            }

            span:last-child {
                font-family: AvenirNextLTPro-Regular;
            }

            .dropdown button span {
                font-size: 12px;
            }
        }

        label {
            color: #fff;
        }
    }

    .first-section {
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 3px;
        margin-top: 30px;
        padding: 20px;

        .date-field-wrapper {
            border: 1px solid #eee;
        }

        textarea {
            background-color: #f9f9f9;

            &:hover {
                border: 1px solid #eee;
            }

            &:focus, &:active {
                background-color: #fff;
                border: 1px solid #eee;
            }
        }


    }

    .section {
        padding: 20px;
        border: 1px solid #eee;
    }

    .notes {
        display: block;

        + span {
            font-family: AvenirNextLTPro-Regular;
            font-size: 14px;
        }
    }

    .supplier-company,
    .supplier-address,
    .supplier-contact,
    .supplier-terms,
    .supplier-textable,
    .project,
    .company-name,
    .delivery-address,
    .company-contact,
    .date-required {

        @media(max-width: 992px) {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }
    }

    .purchase-order-to,
    .ship-to {
        .row {
            > div:nth-child(2),
            > div:nth-child(3),
            > div:nth-child(4) {
                text-align: center;

                > div {
                    display: table;
                    margin: 0 auto;
                    text-align: left;
                }
            }

            > div > div {
                min-height: 73px;
            }

            > div:not(:first-child) {
                @media(min-width: 992px) {
                    border-left: 1px solid #eee;
                }
            }
        }
    }



    .supplier-company {
        span {
            font-family: AvenirNextLTPro-Medium;
            font-size: 12px;
            display: block;
        }

        small {
            font-size: 10px;
        }
    }

    .supplier-address {
        span {
            display: block;
            font-family: AvenirNextLTPro-Medium;
            font-size: 12px;
        }
    }

    .supplier-contact {
        .name {
            display: block;
            color: #3aabd5;
        }

        .company {
            display: block;
            font-size: 10px;
        }

        .contact {
            font-size: 10px;
            font-family: AvenirNextLTPro-Regular;
            color: #8b8b8b;

            i {
                margin-right: 10px;

                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }

    .supplier-terms {
        span {
            font-family: AvenirNextLTPro-Medium;
            font-size: 12px;
        }
    }

    .supplier-textable {
        font-family: AvenirNextLTPro-Medium;
        font-size: 12px;

        .status {
            font-size: 12px;
            margin-right: 20px;
        }
    }

    .company-name {
        span {
            font-family: AvenirNextLTPro-Medium;
            font-size: 12px;
        }
    }

    .delivery-address {
        span {
            display: block;
            font-family: AvenirNextLTPro-Medium;
            font-size: 12px;
        }
    }

    .company-contact {
        .name {
            display: block;
            color: #3aabd5;
        }

        .contact {
            font-size: 10px;
            font-family: AvenirNextLTPro-Regular;
            color: #8b8b8b;

            i {
                margin-right: 10px;

                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }

    .date-required {
        span {
            font-family: AvenirNextLTPro-Medium;
            font-size: 12px;
        }
    }

    .section.item {
        padding-bottom: 0;
    }

    .item {

        .item-no {
            float:left;
        }

        .button {
            float: right;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        span {
            font-family: AvenirNextLTPro-Regular;
            font-size: 15px;
        }
    }

    h5 {
        margin: 20px 0;
        font-size: 13px;

        &:first-child {
            margin-top: 0;
        }
    }

    input {
        height: 51px;
        padding: 15px;
        background-color: #f9f9f9;

        &:focus {
            background-color: #fff;
            border-color: #d7d7d7;
        }
    }

    .textable {
        line-height: 30px;
        margin-top: 30px;
    }

    h3 {
        font-family: AvenirNextLTPro-Medium;
        font-size: 17px;
        color: #4a4a4a;
        margin: 30px 0 20px;
    }

    .second-section {
        margin-left: -15px;
        margin-right: -15px;
        padding: 30px;
        background-color: #eee;

        .second-content {
            border: 1px solid #eee;
            background-color: #f9f9f9;

            .nav-tabs {

                border-bottom: 1px solid #eee;

                > li {
                    > a {
                        font-family: AvenirNextLTPro-Medium;
                        font-size: 13px;
                        color: #6c6c6c;
                        min-width: 110px;
                        text-align: center;
                        padding: 15px 30px;
                        border-radius: 0;
                        border-top: 0;
                    }

                    &:first-child > a {
                        border-left: 0;
                    }

                    &.active a {
                        color: #e25c5c;
                        background: white;
                        border-bottom: 1px solid white;
                    }
                }

            }

            .tab-content {
                border: 0;

                .comments-wrapper {

                    .comment {
                        position: relative;
                        font-size: 13px;

                        margin-bottom: 15px;
                        font-family: AvenirNextLTPro-Regular;

                        > div {
                            display: inline-block;
                        }

                        .author {
                            font-size: 13px;
                            font-family: AvenirNextLTPro-Demi;
                        }

                        .edit {
                            position: absolute;
                            right: 20px;
                            top: 4px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        h3 {
            margin-top: 20px;
            font-family: AvenirNextLTPro-Demi;
            font-size: 13px;
        }

        textarea {
            padding: 15px;
            border-radius: 3px;
            color: #4a4a4a;
            background-color: #f9f9f9;

            &:active, &:focus {
                background-color: #fff;
                border-color: #eee;
            }
        }

    }

}

