@import 'variables';

.report-main-wrapper {
    .filter-wrapper {
        border: 1px solid #eee;
        padding: 20px;
        background-color: #fff;

        .filter {
            width: 150px;
            margin-right: 20px;
        }

        .filter-value {
            input[type="text"] {
                background-color: #f9f9f9;
                padding: 16px;
                width: 100px;

                &:focus {
                    background-color: #fff;
                }
            }

            span {
                margin: 0 10px;
                color: $text-muted;
            }
        }
    }

    .report-viewer-wrapper {
        border: 1px solid #eee;
        padding: 25px 20px 20px 20px;
        background-color: #fff;

        .viewer {
            width: 600px;
            height: 800px;
            margin: 20px auto 0;
            border: 1px solid #eee;
            background-color: #f9f9f9;
        }

        h5 {
            font-size: 13px;
            margin-bottom: 0;
        }

    }

    .action-button {
        padding-bottom: 200px;
    }

}

.reporting-action-menu {
    min-width: 150px;
}
