// Font Variables

$text-bold: "AvenirNextLTPro-Demi";
$text-medium: "AvenirNextLTPro-Medium";
$text-regular: "AvenirNextLTPro-Regular";

// Color Variables
$text-default: #4a4a4a;
$text-muted: #8b8b8b;
$text-primary: #3aabd5;
$text-success: #79c485;
$text-info: #2a2d33;
$text-warning: #fdb04a;
$text-danger: #e25c5c;
$text-gray-lighter: #9e9e9e;
